<header>
    <div id="logo-area">
        <img src="/assets/images/logo.png" alt="">
        <h1>DABubble</h1>
    </div>
    <div id="input-area">
        <input type="search" placeholder="Coding learning durchsuchen">
        <span-lucide [img]="SearchIcon" class="search-icon"></span-lucide>
    </div>
    <div id="user-area">
        <span>Guest</span>
        <img src="/assets/images/avatar.png" alt="">
        <span-lucide [img]="menuIcon" class="chevron-down-icon" (click)="displayMenu()"></span-lucide>
    </div>
</header>
@if (menuShown) {
    <div id="overlay" (click)="displayMenu()">
        <div id="user-menu" (click)="$event.stopPropagation()">
            <span>Benachrichtigungen</span>
            <span>Profil</span>
            <span>Log out</span>
        </div>
    </div>
}