header {
    background: #edefff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito';

    #logo-area {
        display: flex;
        align-items: center;
        padding: 16px;
        gap: 16px;
        cursor: default;
    }

    #input-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17.5px 32px 17.5px 45px;
        background: white;
        border-radius: 50px;
        width: 40%;

        >input {
            font-size: 24px;
            width: 90%;
            border: none;

            &:focus {
                outline: none;
            }

            &:placeholder {
                color: #808080;
            }
        }

        >span-lucide {
            display: flex;
            align-items: center;
            color: #808080;
            padding: 6px;

            &:hover {
                cursor: pointer;
                background: #e6e6e6;
                border-radius: 50%;
            }
        }
    }

    #user-area {
        display: flex;
        align-items: center;
        padding: 16px;
        gap: 16px;

        &:hover {
            color: #5157f0;
        }

        >span {
            font-size: 32px;
            font-weight: bold;
            cursor: default;
        }

        >img {
            width: 70px;
            border-radius: 50px;
        }

        >span-lucide {
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

#user-menu {
    position: absolute;
    top: 134px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 16px;
    border-radius: 30px 0 30px 30px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);

    span {
        font-size: 24px;
        font-weight: 600;
        font-family: 'Nunito';
        padding: 10px 45px;

        &:hover {
            cursor: pointer;
            color: #5157f0;
            background: #edefff;
            border-radius: 25px;
        }
    }
}